<!-- <footer class="footer">
  <p>📅 تاريخ الإنشاء: 01/12/2024 - ⏰ 04:30 م</p>
  <p>تم الإنشاء بواسطة: عبدالحليم إسماعيل ناصف</p>
</footer> -->


<!-- <footer class="footer">
  <p>📅 تاريخ الإنشاء: 01/12/2024 - ⏰ 04:30 م</p>
  <p>تم الإنشاء بواسطة: عبدالحليم إسماعيل ناصف</p>
</footer> -->


<footer class="footer">
  <div class="user-info">
    <img src="" alt="User Image" class="profile-img"/>
      <span>تم الأنشاء بواسطة</span>
      <span class="username">عبدالرحيم إسماعيل ناصف</span>
  </div>
  <span class="time">🕒 04:30 م • 01/12/2024</span>
</footer>
