<!-- <main>
  <table>
      <thead>
          <tr>
              <th>المعامل</th>
              <th>تاريخ التعيين</th>
              <th>تاريخ إلغاء التعيين</th>
              <th>المسؤول عن التعيين</th>
              <th>الدقائق المحلية</th>
              <th>الدقائق الدولية</th>
              <th>المبلغ</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>الشركة الألمانية للإبادة</td>
              <td>01/12/2024</td>
              <td>-</td>
              <td>عبدالحليم إسماعيل ناصف</td>
              <td>7654</td>
              <td>122</td>
              <td>61890 ج.م</td>
          </tr>
          <tr>
              <td>الشركة الألمانية للإبادة</td>
              <td>01/12/2024</td>
              <td>-</td>
              <td>عبدالحليم إسماعيل ناصف</td>
              <td>7654</td>
              <td>122</td>
              <td>61890 ج.م</td>
          </tr>
      </tbody>
  </table>
</main> -->


<!-- <main>
  <table>
      <thead>
          <tr>
              <th>المعامل</th>
              <th>تاريخ التعيين</th>
              <th>تاريخ إلغاء التعيين</th>
              <th>المسؤول عن التعيين</th>
              <th>الدقائق المحلية</th>
              <th>الدقائق الدولية</th>
              <th>المبلغ</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>الشركة الألمانية للإبادة</td>
              <td>01/12/2024</td>
              <td>-</td>
              <td>عبدالحليم إسماعيل ناصف</td>
              <td>7654</td>
              <td>122</td>
              <td>61890 ج.م</td>
          </tr>
      </tbody>
  </table>
</main> -->


<section class="data-section">
  <div class="table-container">
      <table>
          <thead>
              <tr>
                  <th>العميل</th>
                  <th>تاريخ التعيين</th>
                  <th>تاريخ إلغاء التعيين</th>
                  <th>المسؤول عن التعيين</th>
                  <th>الدقائق المحلية</th>
                  <th>الدقائق الدولية</th>
                  <th>المبلغ</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>الشركة الألمانية للإبادة...</td>
                  <td>01/12/2024</td>
                  <td>-</td>
                  <td>عبدالرحيم إسماعيل ناصف</td>
                  <td>7654</td>
                  <td>122</td>
                  <td>61890 ج.م</td>
              </tr>
              <tr>
                  <td>الشركة الألمانية للإبادة...</td>
                  <td>01/12/2024</td>
                  <td>01/12/2024</td>
                  <td>عبدالرحيم إسماعيل ناصف</td>
                  <td>7654</td>
                  <td>122</td>
                  <td>61890 ج.م</td>
              </tr>
              <tr>
                  <td>الشركة الألمانية للإبادة...</td>
                  <td>01/12/2024</td>
                  <td>01/12/2024</td>
                  <td>عبدالرحيم إسماعيل ناصف</td>
                  <td>7654</td>
                  <td>122</td>
                  <td>61890 ج.م</td>
              </tr>
              <tr>
                  <td>الشركة الألمانية للإبادة...</td>
                  <td>01/12/2024</td>
                  <td>01/12/2024</td>
                  <td>عبدالرحيم إسماعيل ناصف</td>
                  <td>7654</td>
                  <td>122</td>
                  <td>61890 ج.م</td>
              </tr>
          </tbody>
      </table>
  </div>

  <!-- Pagination -->
  <div class="pagination">
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
  </div>
</section>
